## Data type conversions

    - int, float, complex, boolean, strinh, None

    integer family

        int - decimal       - int() - base 1 (0-9)
            - binary        - bin() - base 2 (0-1)
            - hexadecimal   - hex() - base 16 (0-9 A-F)
            - octal         - oct() - base 8 (0-7)
        float
            float()
        String
            str()

In [1]:
num =12
print("num =", num, type(num))

num = 12 <class 'int'>

In [2]:
print(12, float(12))

12 12.0

In [3]:
12, str(12)

(12, '12')

In [4]:
print(12, str(12))

12 12

In [5]:
print(3.1416, int(3.1416))
print(3.1416, str(3.1416))

3.1416 3
3.1416 3.1416

In [6]:
print("23", int("23"))
print("23", int("23 "))
print("23", int("  23"))

23 23
23 23
23 23

In [7]:
print('2 3', int('2 3'))

ValueError: invalid literal for int() with base 10: '2 3'

In [8]:
int('two')

ValueError: invalid literal for int() with base 10: 'two'

In [9]:
int('23.24')

ValueError: invalid literal for int() with base 10: '23.24'

In [10]:
print("23  ", float("23"))
print("23.24", float("23.24"))
print("23  ", float("23."))

23   23.0
23.24 23.24
23   23.0

In [11]:
float('2 3.')

ValueError: could not convert string to float: '2 3.'

In [14]:
print(float())
print(float("+1.23"))
print(float("     -12345\n"))
print(float("1e-003"))
print(float("+1E6"))
print(float("-Infinity"))
print(float("-inf"))

0.0
1.23
-12345.0
0.001
1000000.0
-inf
-inf

In [15]:
# Anything can be converted to a string
str(True)

'True'

In [16]:
str(None)

'None'

In [17]:
bin(33)

'0b100001'

In [18]:
num1 = 33
bin(num1)

'0b100001'

In [19]:
print(23, bin(23), type(bin(23)))

23 0b10111 <class 'str'>

In [21]:
bin(23.0)

TypeError: 'float' object cannot be interpreted as an integer

In [22]:
print("0b1001", int("0b1001", base = 0))
print("1001", int("1001", base = 0))
print("bin(9)", int(bin(9), base = 0))

0b1001 9
1001 1001
bin(9) 9

In [23]:
print((9).bit_length())
print((23).bit_length())

4
5

In [24]:
print("oct(9) ", oct(9))
print('oct(-23)', oct(-23))

oct(9)  0o11
oct(-23) -0o27

In [25]:
"%#o" % 10, "%o" % 10
format(10, "#o"), format(10, "o")
f"{10:#o}", f'{10:0}'

('0o12', '10')

In [28]:
print(int(oct(9), base = 8))
print(int("0o11", base = 8))
print(int("11", base = 8))
print(int("11"))

9
9
9
11

In [30]:
print("hex(9)  ", hex(9))
print("hex(-23)", hex(-23))

hex(9)   0x9
hex(-23) -0x17

In [31]:
print(int(hex(-23), base = 16))
print(int("-0x17", base = 16))
print(int('-17', base = 16))
print(int('-17'))

-23
-23
-23
-17

In [33]:
"%#x" % 255, "%x" % 255, '%X' % 255
format(255, "#x"), format(255, "x"), format(255, "X")
f"{255:#x}", f'{255:x}', f'{255:X}'

('0xff', 'ff', 'FF')

In [34]:
print((-2).is_integer())
print((-2.1).is_integer())
print((-1.999999).is_integer())

True
False
False

In [39]:
# Ref: https://unicode-table.com/