# Identity Operations
    Object
        - value(s)
        - type(s)
        - address location where it is stored - id()


    =  Assignment operator

    == Value-level Equivalence  -  ( value and type) check
    is object-level Equivalence - (address location, value and type) check

In [1]:
4 == 4

True

In [2]:

'4' == '4'

True

In [4]:


4 == '4'

False

In [5]:

num1 = 100
num2 = 200

In [6]:

print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 == num2 = False
num1 is num2 = False
id(num1) = 109808221221896 	 id(num2) =109808221225096

In [7]:

num1 = 200

In [8]:
num1

200

In [9]:

num2

200

In [10]:

print(f"{num1 = }")
print(f"{num2 = }")
print(f"{num1 == num2 = }")
print(f"{num1 is num2 = }")
print(f"{id(num1) = } \t {id(num2) =}")

num1 = 200
num2 = 200
num1 == num2 = True
num1 is num2 = True
id(num1) = 109808221225096 	 id(num2) =109808221225096

In [11]:

num3 = 300

In [12]:
num4 = 300

In [13]:
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300 	 num4 =300
num3 == num4 = True
num3 is num4 = False
id(num3) = 140163082696176 	 id(num4) =140163082696528

In [14]:
num3 = 300.33
num4 = 300.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =300.33 	 num4 =300.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 140163082690032 	 id(num4) =140163502685392

In [15]:

num3 = 12.33
num4 = 12.33
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =12.33 	 num4 =12.33
num3 == num4 = True
num3 is num4 = False
id(num3) = 140163502682608 	 id(num4) =140163082690096

In [31]:

num3 = "Udhay"
num4 = "Udhay"
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 ='Udhay' 	 num4 ='Udhay'
num3 == num4 = True
num3 is num4 = True
id(num3) = 140163073245712 	 id(num4) =140163073245712

In [17]:
num3 = [1, 2, 3] # mutable
num4 = [1, 2, 3]
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =[1, 2, 3] 	 num4 =[1, 2, 3]
num3 == num4 = True
num3 is num4 = False
id(num3) = 140163073134144 	 id(num4) =140163073133888

In [18]:
num3 = (1, 2, 3)  # immutable
num4 = (1, 2, 3)
print(f"{num3 =} \t {num4 =}")
print(f"{num3 == num4 = }")
print(f"{num3 is num4 = }")
print(f"{id(num3) = } \t {id(num4) =}")

num3 =(1, 2, 3) 	 num4 =(1, 2, 3)
num3 == num4 = True
num3 is num4 = False
id(num3) = 140163083535552 	 id(num4) =140163073227456

## Dual Memory management Strategy
    In Interactive mode,
        For integer,
            -5 to 256      -> no new object created
            outside bounds -> new object is created for each variable
    Python preallocates small integers in a range of -5 to 256.
    This allocation happens during initialization and since we cannot update integers (immutability) these preallocated integers are singletons and are directly referenced instead of reallocating.
    This means every time we use/creates a small integer, python instead of reallocating just returns the reference of preallocated one.

In [19]:
num1 = 255
num2 = 255

In [20]:
num1 is num2

True

In [21]:
id(num1), id(num2)

(109808221226856, 109808221226856)

In [22]:
num1 = 256
num2 = 256

In [23]:
num1 is num2

True

In [24]:

id(num1), id(num2)

(109808221226888, 109808221226888)

In [25]:
num1 = 257
num2 = 257

In [26]:
num1 is num2   # breakaway

False

In [27]:
id(num1), id(num2)

(140163082694672, 140163082695568)

In [28]:
num1 = -5
num2 = -5

print(num1 is num2)
print(id(num1), id(num2))

True
109808221218536 109808221218536

In [29]:
num1 = -6
num2 = -6

print(num1 is num2)
print(id(num1), id(num2))

False
140163082696816 140163082697104